<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/julianharley/Projects/ArchitecturalKata2026/report</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 858}}</string>
		<string>{{176, 0}, {1294, 858}}</string>
	</array>
	<key>binderWidth</key>
	<real>208</real>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>000FD30C-A6F3-47B9-9C5E-A995D01C3B4C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0928180C-5325-4A71-AE4E-3D928D8FC0C0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1AB3BC7E-221E-4E72-88CA-F8376C04E680</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1ACCA6A1-1239-443E-B1CC-D3CC9058013A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E8405F4-2C3C-4EEA-AE91-A30A669CBA56</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>28E4AEF0-E993-4AED-B36C-D45EE66FCBCE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2DFE9CFF-07B9-49E5-A0CA-AF23DBB63535</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3CDA6495-B6EE-4128-9310-2608589863D8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4999718C-11F3-4D34-ACCA-BB27CFC74482</key>
		<dict>
			<key>DocID</key>
			<string>AD107F76-1964-416F-8DD0-01B59C5A3060</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>51EA1C20-B9EB-4D83-92CE-248B436103D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>58DD51C0-A10D-42D4-A7CD-5633135703FF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6E166A5C-F0A7-4B33-9751-BD511DBF6F55</key>
		<dict>
			<key>DocID</key>
			<string>E8956215-97C1-41DA-8AB9-50C2891EA656</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>724E8835-2F2A-4288-8957-EEFB1D92413A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8B014782-1E52-4F6D-B15C-CA5FB440B23B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96690C34-1F3E-4364-9883-79E52C6E4086</key>
		<dict>
			<key>DocID</key>
			<string>AD107F76-1964-416F-8DD0-01B59C5A3060</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>9E10C7D5-D2D9-48A7-A5F4-5CB69C0ED66F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A109A89F-D1F8-4EE8-8AEB-77AE03705030</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AD107F76-1964-416F-8DD0-01B59C5A3060</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BA71EB43-B6A9-444A-97CF-041624B52DD1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE61A69F-1CF4-4F73-B6E1-5AE74806D0BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C0115381-CFEA-4D13-BB6A-C990B005A2EC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C270D3BA-1995-482D-AF9E-F5992A5AF56E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CDDF52AE-102B-4FA9-87E7-E1C3F100AF10</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2E3B6D5-155D-4CB3-9501-8EDDC01016C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E297D0E9-3F3B-44BE-8BA6-B976FAB8DBE0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E4F662EA-5904-465F-A709-E9F001D66A52</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E6AB68C4-7984-42B9-B7B5-E97DFF5D254F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8956215-97C1-41DA-8AB9-50C2891EA656</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA34AC25-416C-4018-8F59-1204A188736B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F59D4BB3-2F47-4FF7-8B38-B165E0FFD754</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{533, 0}, {533, 828}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1066, 828}}</string>
		<string>{{1067, 0}, {227, 828}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>263</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>253</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>162 120 1470 886 0 0 1792 1095 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 772}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
