<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/julianharley/Projects/ArchitecturalKata2026/report</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {300, 1047}}</string>
		<string>{{301, 0}, {1491, 1047}}</string>
	</array>
	<key>binderWidth</key>
	<real>208</real>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>000FD30C-A6F3-47B9-9C5E-A995D01C3B4C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0928180C-5325-4A71-AE4E-3D928D8FC0C0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>145FC31F-C2AD-49E5-95ED-9F4AE0522990</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>14D260D0-748A-484A-9537-28FA0915A49A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>15334A3F-F450-45A9-ACA4-968448AB7E9A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>19B74832-B3FB-43B8-8E4C-B00A7DDF7ADC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1AB3BC7E-221E-4E72-88CA-F8376C04E680</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1ACCA6A1-1239-443E-B1CC-D3CC9058013A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1CF30ECF-0A94-4F2A-95A8-FA1A401D5C7A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E8405F4-2C3C-4EEA-AE91-A30A669CBA56</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>28E4AEF0-E993-4AED-B36C-D45EE66FCBCE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2DFE9CFF-07B9-49E5-A0CA-AF23DBB63535</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2E99347A-5D8F-43C4-A5EF-A5DD9DE64800</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>371C75CD-A352-4192-93CF-93D3287D6C91</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3CDA6495-B6EE-4128-9310-2608589863D8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>51EA1C20-B9EB-4D83-92CE-248B436103D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>58DD51C0-A10D-42D4-A7CD-5633135703FF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6E166A5C-F0A7-4B33-9751-BD511DBF6F55</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>724E8835-2F2A-4288-8957-EEFB1D92413A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>79DCA562-1E22-4C06-A1C4-A53318DE3EAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8B014782-1E52-4F6D-B15C-CA5FB440B23B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E10C7D5-D2D9-48A7-A5F4-5CB69C0ED66F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9EFF15D4-CA5E-47C0-8CDA-0DA6E6B25791</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A109A89F-D1F8-4EE8-8AEB-77AE03705030</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B843BFA6-105F-49EA-9CFB-9D7CCD0ECDD4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE61A69F-1CF4-4F73-B6E1-5AE74806D0BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C0115381-CFEA-4D13-BB6A-C990B005A2EC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CDDF52AE-102B-4FA9-87E7-E1C3F100AF10</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2E3B6D5-155D-4CB3-9501-8EDDC01016C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E297D0E9-3F3B-44BE-8BA6-B976FAB8DBE0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E4F662EA-5904-465F-A709-E9F001D66A52</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E6AB68C4-7984-42B9-B7B5-E97DFF5D254F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA34AC25-416C-4018-8F59-1204A188736B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{593.5, 0}, {592, 1017}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1185.5, 1017}}</string>
		<string>{{1186.5, 0}, {304.5, 1017}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>304.5</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>253</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {470, 768}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>78 183 1792 886 0 0 1792 1120 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>103</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>253</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-161, 0}, {941, 768}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
